{% extends 'datatables/base.html' %}

<style>
    .show-data{
        border-radius: 10px!important;
        box-shadow: -20px -20px 25px rgba(0, 0, 0, 0.05), 20px 20px 25px rgba(0, 0, 0, 0.05);
    }
</style>

{% block body %}
    <div class="p-5 show-data bg-white">
        <div class="d-flex justify-content-between">
            <div class="">
                <div class="px-5 py-3 border" style="border-radius:10px;">Firstname - {{member.firstname}}</div>
                <br>
                <div class="px-5 py-3 border" style="border-radius:10px;">Lastname - {{member.lastname}}</div>
                <br>
                <div class="px-5 py-3 border" style="border-radius:10px;">Address - {{member.address}}</div>
            </div>
            <div class="">
                <a href="/" class="btn btn-primary px-3 btn-sm"><i class="fa-solid fa-circle-left mx-1"></i> Back</a>
            </div>
        </div>
        <div class="mt-5">
            <a class="btn btn-primary px-3 float-end btn-sm" data-bs-toggle="modal" data-bs-target="#addnewmember"><i class="fa-solid fa-plus mx-1"></i> Add New</a>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                  <label>Firstname</label>
                     <input type="text" id="firstname" class="form-control"/>
              </div>        
              <div class="mb-3">
                  <label>Lastname</label>
                  <input type="text" id="lastname" class="form-control"/>
              </div>
              <div class="mb-3">
                  <label>Address</label>
                  <input type="text" id="address" class="form-control"/>
              </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit-data">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
    $('#table').DataTable();

    $('#submit-data').on('click', function(){
        $firstname = $('#firstname').val();
        $lastname = $('#lastname').val();
        $address = $('#address').val();

        if($firstname == "" || $lastname == "" || $address == ""){
            alert("Please complete field");
        }
        else{
            $.ajax({
                type: "POST",
                url: "/update/",
                data:{
                    id: "{{member.id}}",
                    firstname: $firstname,
                    lastname: $lastname,
                    address: $address,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(){
                    alert('Save Data');
                    $('#firstname').val('');
                    $('#lastname').val('');
                    $('#address').val('');
                    window.location.reload();
                }
            });
        }
    });
});
  </script>
{% endblock body %}
